.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .progress-bar {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .mat-grid-tile {
    flex-grow: 1; /* Make all tiles equally sized */
  }
  
  .mat-grid-tile[colspan="3"] {
    flex-grow: 3; /* Make the first column three times the size of the second column */
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .list-container {
    height: 300px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  
  .custom-list-item {
    display: flex; /* Use flexbox */
    align-items: flex-start; /* Align items to the start (top) */
  }
  