@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
  ),
));

html {
  // Apply the dark theme by default
  // @include mat.all-component-themes($dark-theme);
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.slide-toggle-theme($dark-theme);
  @include mat.progress-bar-theme($dark-theme);
  // @include mat.toolbar-theme($dark-theme);

  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    // @include mat.all-component-themes($light-theme);
    @include mat.core-color($light-theme);
    @include mat.button-color($light-theme);
    @include mat.slide-toggle-theme($light-theme);
    @include mat.progress-bar-theme($light-theme);
    // @include mat.toolbar-theme($light-theme);
  }
}